#green-text{
    color: rgba(126,217,87,1);
}

.about{
    font-size: 50px;
    padding: 10px;
}

.line{
    width: 950px;
    height: 5px;
    border-radius: 3px;
    background-image: linear-gradient(to right,rgba(0,151,178,1),rgba(126,217,87,1));
    margin: 30px 0 0 -40px;
}

.left h2{
    font-weight: bold;
    font-size: 30px;
}

@media screen and (max-width:769px){

    .activities h1{
        font-size: 15px;
        text-align: center;
    }

    .activities .title{
        font-size: 20px;
    }
    .activities .text{
        font-size: 13px;
    }

    .activities .content{
        margin-top: -70px;
      }

    .about-left p{
        font-size: 13px;
    }

    .line{
        width: 250px;
        height: 2px;
        border-radius: 3px;
        background-image: linear-gradient(to right,rgba(0,151,178,1),rgba(126,217,87,1));
        margin: 0;
    }
    .about{
        display: flex;
        flex-direction: column;
    }
    .main-section{
        display: flex;
        flex-direction: column;
        padding: 25px;
        margin: 0;
        align-items: center;
        justify-content: center;
    }
}