#green-text{
    color: rgba(126,217,87,1);
}

.event-img img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: auto;
    padding: 3px;
}

.eventcard{
    display: grid;
    grid-template-columns: auto auto;
}

.about{
    font-size: 50px;
    padding: 10px;
}

.line{
    width: 950px;
    height: 5px;
    border-radius: 3px;
    background-image: linear-gradient(to right,rgba(0,151,178,1),rgba(126,217,87,1));
    margin: 30px 0 0 -40px;
}

.box{
    border: 2px solid rgba(126,217,87,1);
    padding: 5px;
    border-radius: 25px;
    width: 800px;
}

.title {
   
      margin-bottom: 50px;
      text-transform: uppercase;
      color: white;
      font-weight: bold;
  }
  
  .card-block {
      font-size: 1em;
      position: relative;
      margin: 0;
      padding: 1em;
      border: none;
      border-top: 1px solid rgba(34, 36, 38, .1);
      box-shadow: none;
       
  }
  .card {
      font-size: 1em;
      overflow: hidden;
      padding: 5;
      border: none;
      border-radius: .28571429rem;
      box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
      margin-top:20px;
      color: white;
  }
  
  .carousel-indicators li {
      border-radius: 12px;
      width: 12px;
      height: 12px;
      background-color: #404040;
  }
  .carousel-indicators li {
      border-radius: 12px;
      width: 12px;
      height: 12px;
      background-color: #404040;
  }
  .carousel-indicators .active {
      background-color: white;
      max-width: 12px;
      margin: 0 3px;
      height: 12px;
  }
  .carousel-control-prev-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  }
  
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  }

  
  .btn {
    margin-top: auto;
  }

@media only screen and (max-width:769px){
    .line{
        width: 250px;
        height: 2px;
        border-radius: 3px;
        background-image: linear-gradient(to right,rgba(0,151,178,1),rgba(126,217,87,1));
        margin: 0;
    }
    .about{
        display: flex;
        flex-direction: column;
    }
    .box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2px;
        width: 300px;
        margin-left: -30px;
    }
    .img{
        padding: 2px;
        margin: 10px;
    }
    .content{
        padding: 8px;
        margin: 10px;
    }
    .events-right{
        display: none;
    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .eventcard{
        display: grid;
        grid-template-columns: auto;
    }

    .card-text{
        font-size: 13px;
    }

    .event-img img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        padding: 5px;
    }
}


