#green-text{
    color: rgba(126,217,87,1);
}




@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");
* {
  box-sizing: border-box;
}

:root{
  --body-bg: #fff;
  --preview-card-shadow: 0px 3px 10px rgba(34, 35, 58, 0.2);
  --preview-card-border-radius: 25px;
  --preview-card-image-bg: linear-gradient(147deg, #000 0%, #000 74%);
  --preview-card-image-bg-after: linear-gradient(147deg, #000 0%, #000 74%);
  --preview-card-image-shadow: 0px 3px 10px 1px rgba(252, 56, 56, 0.2);
  --preview-card-code: #7b7992;
  --preview-card-title: #0d0925;
  --preview-card-desc: #4e4a67;
  --preview-card-button-text: #fff;
  --preview-card-button-text-hover: #989898;
  --preview-card-button-bg: linear-gradient(147deg, #000 0%, #000 74%);
  --preview-card-button-shadow: 0px 3px 10px rgba(252, 56, 56, 0.4);
}

.preview-card {
  position: relative;
  margin: 15px;
  background: #fff;
  box-shadow: --preview-card-shadow;
  padding: 30px 25px 30px;
  border-radius: --preview-card-border-radius;
  height: 400px;
  transition: all 0.3s;

  @media screen and (max-width: 992px) {
    max-width: 680px;
    height: auto;
  }

  @media screen and (max-width: 768px) {
    min-height: 500px;
    height: auto;
    margin: 120px auto;
  }

  @media screen and (max-height: 500px) and (min-width: 992px) {
    height: auto;
  }

  &__item {
    display: flex;
    align-items: center;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    &.swiper-slide-active {
      .blog-slider__img {
        img {
          opacity: 1;
          transition-delay: 0.3s;
        }
      }
    }
  }

  &__img {
    width: 300px;
    flex-shrink: 0;
    height: 300px;
    background-image: --preview-card-image-bg;
    box-shadow: --preview-card-image-shadow;
    border-radius: 20px;
    transform: translateX(-80px);
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: --preview-card-image-bg-after;
      border-radius: 20px;
      opacity: 0.4;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      opacity: 1;
      border-radius: 20px;
      transition: all 0.3s;
    }

    @media screen and (max-width: 992px) {
      width: 45%;
    }
    @media screen and (max-width: 768px) {
      transform: translateY(-50%);
      width: 90%;
    }
    @media screen and (max-width: 576px) {
      width: 95%;
    }
    @media screen and (max-height: 500px) and (min-width: 992px) {
      height: 270px;
    }
  }

  &__content {
    width: 60%;
    padding-right: 25px;
    @media screen and (max-width: 992px) {
      width: 55%;
    }
    @media screen and (max-width: 768px) {
      margin-top: -80px;
      text-align: center;
      padding: 0 30px;
    }

    @media screen and (max-width: 576px) {
      padding: 0;
    }
    > * {
      transform: translateY(25px);
      transition: all 0.4s;
    }
  }

  &__code {
    color: --preview-card-code;
    margin-bottom: 15px;
    display: block;
    font-weight: 500;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    color: --preview-card-title;
    margin-bottom: 20px;
  }

  &__text {
    color: --preview-card-desc;
    margin-bottom: 30px;
    line-height: 1.5em;
  }

  &__button {
    display: inline-flex;
    background-image: --preview-card-button-bg;
    padding: 15px 35px;
    margin-bottom: 30px;
    border-radius: 50px;
    color: --preview-card-button-text;
    box-shadow: --preview-card-button-shadow;
    text-decoration: none;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
    &:hover {
      color: --preview-card-button-text-hover;
      text-decoration: none;
    }
    @media screen and (max-width: 576px) {
      width: 100%;
    }
  }
}
